*, *::after, *::before{
    font-family: sans-serif;
    font-size: 18px;
    box-sizing: border-box;
}

body{
    background-color: rgba(154, 76, 39, 0.5);
}





/* MEDIA QUERIES PARA REALIZAR CAMBIOS REPONSIVE EN ALGUNAS PROPIEDADES */
@media screen(min-widht:576px) {
    
}

@media screen(min-widht:992px) {
    
}

