*, *::after, *::before{
    box-sizing: border-box;
}

body{
    background-color: rgba(216, 216, 216, 0.5);
    font-family: sans-serif;
    font-size: 12px;
}


/* MEDIA QUERIES PARA REALIZAR CAMBIOS REPONSIVE EN ALGUNAS PROPIEDADES */
@media (min-width: 576px) {
    body{
        font-size: 15px;
    }
}

@media (min-width: 992px) {
    body{
        font-size: 18px;
    }
}

